@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

#root{
  font-family: inter;
  color: rgb(212, 205, 205);
}

@theme {
  --color-regal-blue: #10161f;
}